nav {
	position: sticky;
	top: 0;
	z-index: 1000;
}

nav a {
	padding: 10px 20px;
	text-decoration: none;
	color: #000;
}

@media screen and (max-width: 500px) {
	#header-img {
		padding-top: 1em;
	}
}
#mobile-menu-content.active {
	display: flex !important;
	flex-direction: column;
	width: min-content !important;
	height: 100% !important;
	visibility: visible !important;
}
.mobile-menu-item a {
	width: 100% !important;
	font-size: large !important;
}
.mobile-menu-item {
	width: 100% !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
nav a:hover {
	text-decoration: underline;
}
.container-fluid {
	background-color: #6b549f;
	padding: 10px;
}

.container-fluid a {
	color: black;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: x-large;
}

.container-fluid a:hover {
	background-color: #8d74bb;
}
.container-fluid a.active {
	background-color: #8d74bb;
}
.container-fluid .col-12 {
	text-align: center;
	padding: 10px;
}
.row {
	text-align: center;
	min-height: 2.5rem;
}
